<?xml version="1.0"?>
<launch>
  <arg name="gui" default="true" />
  
  <group ns="rsi">
	  <param name="robot_description" command="cat $(find tez_description)/urdf/tez_cell_reducedmesh.urdf" />

	  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" />
  </group>
<!--
  <group if = "$(gui)">
    <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
  </group>
  <group unless = "$(gui)">
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher"  />
  </group> -->

  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find tez_description)/rviz/tez_description.rviz"/>
</launch>
