<?xml version="1.0"?>
<launch>
  <arg name="debug" default="false"/>
  <arg name="use_rviz" default="true" />
  <arg name="plot_traj" default="true" />

<!--   <rosparam command="load" file="$(find tez_app)/config/tez_hw.yaml" /> -->
  <rosparam command="load" file="$(find tez_app)/config/robot_1/robot_hw.yaml" />
  <rosparam command="load" file="$(find tez_app)/config/robot_2/robot_hw.yaml" />
  <rosparam command="load" file="$(find tez_app)/config/topics_hw.yaml" />

  <include file="$(find tez_moveit)/launch/planning_context.launch" >
    <arg name="load_robot_description" value="true" />
  </include>

 <include file="$(find tez_moveit)/launch/move_group.launch">
   <arg name="allow_trajectory_execution" value="true"/>
   <arg name="load_robot_description" value="false"/>
 </include>

  <!-- Convert joint states to /tf tranforms -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

  <arg unless="$(arg debug)" name="launch_prefix" value="" />
  <arg     if="$(arg debug)" name="launch_prefix" value="gdb --ex run --args" />

  <node launch-prefix="$(arg launch_prefix)" pkg="cnr_configuration_manager" type="cnr_configuration_manager_node" name="configuration_manager" output="screen">
    <rosparam>
      appenders: [screen,file]
      levels: [info,trace]
      file_name: "configuration_manager"
      append_to_file: true
      pattern_layout: "[%5p][%d{HH:mm:ss,SSS}][%M:%04L][%c] %m%n"
    </rosparam>
<!--     <rosparam command="load" file="$(find tez_app)/config/tez_configurations.yaml" /> -->
    <rosparam command="load" file="$(find tez_app)/config/robot_1/configurations.yaml" />
<!--     <rosparam command="load" file="$(find tez_app)/config/robot_2/configurations.yaml" /> -->
  </node>

  <node pkg="cnr_configuration_manager" type="dispatcher" name="configuration_dispatcher" output="screen" >
    <rosparam>
      appenders: [screen]
      levels: [info]
      file_name: "bbb"
      pattern_layout: "[%5p][%d{HH:mm:ss,SSS}][%M:%04L][%c] %m%n"
    </rosparam>
    <param name="num_worker_threads" value="40" />
    <remap from="~configuration_dispatches" to="/configuration_manager/configuration_dispatches" />
  </node>

  <!-- Run Rviz and load the default config to see the state of the move_group node -->
  <include file="$(find tez_app)/launch/moveit_rviz.launch" if="$(arg use_rviz)">
    <arg name="rviz_config" value="$(find tez_app)/config/moveit.rviz"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>

  <group ns="robot_1">
    <node pkg="cnr_mqtt" type="mqtt_converter" name="mqtt_traj_converter" output="screen"/>
    <rosparam command="load" file="$(find tez_app)/config/robot_1/mqtt_config.yaml" />
  </group>
  
<!--  <group ns="robot_2">
    <node pkg="cnr_mqtt" type="mqtt_converter" name="mqtt_traj_converter" output="screen"/>
    <rosparam command="load" file="$(find tez_app)/config/robot_2/mqtt_config.yaml" />
  </group>-->
  
</launch>
